.button-container {
    width: 70%;
}

.img-banner {
    position: absolute;
    right: 5rem;
    width: 24rem;
    top: -15.5%
}

.img-portage {
    position: absolute;
    right: 4rem;
    width: 24rem;
    top: -13.5%
}

.img-histoire{
    position: absolute;
    right: 4rem;
    width: 24rem;
    top: -8.5%
} 

.img-indep {
    position: absolute;
    right: 2.3rem;
    width: 26rem;
    top: -15%
}

.section-background {
    width: 90%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 250px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
}

.header-section {
    line-height: 3rem;
    font-weight: 700;
}

@media screen and (max-width:1200px) {
    .img-portage {
        position: absolute;
        right: 4rem;
        width: 23rem;
        top: -10%
    }
    .img-histoire{
        position: absolute;
        right: 4.2rem;
  }
  .img-indep {
    position: absolute;
    right: 2.5rem;
    width: 26rem;
    top: -16%
} 
}