.link-active {
    color:  #79B3D1;
    border-bottom: 1px solid #79B3D1;
    padding-bottom: 1rem;
    font-weight: bold;
}

.nav-link:hover {
    color:  #79B3D1;
}

.nav-link-white:hover {
    color: white;
}

.link-active-freelance {
    color:  #B9D386;
    border-bottom: 3px solid #B9D386;
    padding-bottom: 1rem;
    font-weight: bold
}

.link-active-client {
    color:  #D892C0;
    border-bottom: 3px solid #D892C0;
    padding-bottom: 1rem;
    font-weight: bold
}

.nav-link-freelance:hover {
    color:  #B9D386;
}


.nav-link-freelance, .nav-link-client {
    padding-bottom: 1rem;
}