textarea {
  border: 1px solid #66757f;
  height: 15rem;
  border-radius: 10px;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.input-title {
  border: 1px solid #66757f;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.price-input {
  width: 4rem;
  margin-right: 1rem;
  border-bottom: 1px solid #a9a5a5;
}

.popup-datagrid {
  width: 150px;
}

.popup-datagrid-mission {
  width: 250px;
}

input:focus-visible {
  outline: none;
}

.delete-ao-button-dialog {
  background-color: rgba(235, 200, 223, 1);
}

.header-offres-client {
  color: #d892c0;
}

.card-mission-container {
  border: 1px solid #0000002e;
  border-radius: 30px;
  width: 100%;
}

.context-container {
  background: #d9d9d969;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.img-modification {
  margin-bottom: 2rem;
  cursor: pointer;
  align-self: end;
}

.delete-account-button-client {
  border: 4px solid rgba(216, 146, 192, 0.65);
  border-radius: 10px;
}

.select-profil-container {
  border: 2px solid #a9a5a5;
}

.nav-profil-img {
  width: 6rem;
}

.competences-container {
  background: #d9d9d969;
}

.competences-select {
  border: 1px solid grey;
  border-radius: 20px;
}

.delete-account-text {
  position: absolute;
  bottom: 4rem;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: #f8f8f8;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.content-container {
  margin-left: 35%;
  width: 75%;
  overflow-y: auto;
  padding: 20px;
}

.bin-img-container {
  width: 25px;
  height: 25px;
}
.hide-button {
  border: 5px solid rgba(216, 146, 192, 1);
}
.hide-button-focus {
  border: 5px solid rgba(216, 146, 192, 1);
  background-color: rgba(216, 146, 192, 1);
  color: white;
}
@media screen and (max-width: 1300px) {
  .nav-profil-img {
    width: 5rem;
  }
  .navbar-container {
    width: 30%;
  }
  .content-container {
    margin-left: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-container {
    width: 35%;
  }
}

@media screen and (max-width: 767px) {
  .navbar-container {
    display: none;
  }
  .content-container {
    margin-left: 0;
    width: 100%;
  }
}
