.header-offres {
    color: #B9D386;
}

.card-mission-container {
    border: 1px solid #0000002E;
    border-radius: 30px;
    width: 100%;
}

.ongoing-mission-container {
    background: #B9D38647;
}

.img-section-freelance {
    margin-right: -5rem;
    margin-bottom: -5rem;
    height: 25rem;
    width: auto;
}

.picker-container {
    border: 2px solid #A9A5A5;
    border-radius: 18px;
}

.competence-container {
    background-color: #B9D386;
    display: inline-block;
}

.content-profile {
    margin-left: 33%;
}