.section-image {
  width: 50%;
}

.header-home {
  font-size: 3.5rem;
  font-weight: 800;
}

.header-valor {
  width: 30%;
}

.display-tablet {
  display: none;
}

.text-app-container {
  max-width: 70%;
}

.ios-picture {
  width: 275px !important;
}

.dimension-img {
  width: 100%;
}

.play-store-img {
  width: 30%;
}

@media screen and (max-width: 900px) {
  .display-tablet {
    display: block;
  }
  .display-laptop {
    display: none;
  }
  .text-app-container {
    max-width: 100%;
  }
}
