.avantages-section {
  background: linear-gradient(
    180deg,
    rgba(185, 211, 134, 0) 0%,
    rgba(185, 211, 134, 0.365) 100%
  );
}

.gestion-section {
  background: linear-gradient(
    180deg,
    rgba(185, 211, 134, 0.365) 0%,
    rgba(121, 179, 209, 0.37) 100%
  );
}

.opportunity-section {
  background: linear-gradient(
    180deg,
    rgba(121, 179, 209, 0.365) 0%,
    rgba(58, 142, 186, 0.1) 78.12%,
    rgba(58, 142, 186, 0) 100%
  );
}

.photo-container {
  position: relative;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 650px) {
  .photo-container {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .photo-container {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 450px) {
  .photo-container {
    width: 150px;
    height: 150px;
  }
}
