@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
}

/* Define font weight for bold text */
b, strong {
  font-weight: 600;
}

.text-bold {
  font-weight: 600;
  }

  .font-bold {
    font-weight: 600;
  }
.text-semibold {
  font-weight: 600;
}

.text-normal {
  font-weight: 500
}

.text-light {
  font-weight: 400;
}

.text-2xs {
  font-size: 0.5rem;
}

.submit-button {
  background-color: #79B3D1;
}

.input-grey, .join-connect {
  background-color: #F0F0F0;
}

a {
  cursor: pointer;
}

.font-green {
  color: #B9D386;
}

.font-pink {
  color: #D892C0
}

.color-red {
  color: red
}

.bg-green {
  background: linear-gradient(0deg, #B9D386, #B9D386);
}

.bg-pink {
  background: linear-gradient(0deg, #D892C0, #D892C0);
}

.font-bad-script {
  font-family: var(--font-bad-script);
}

.main-content {
  max-width: 1498px;
}

.main-indep {
  max-width: 1498px;
}

.error {
  color: #d32f2f;
}

.placeholder-select {
  color: currentColor;
}

.header-title-intro-section-text {
  color: white;
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 600;
}

.header-title-text {
  font-size: 2.25rem;
}

.undertitle-text {
  font-size: 1.875rem;
}

.base-text {
  font-size: 1.25rem;
}

@media (max-width: 1550px) { 
  main {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .main-content {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .main-indep {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1300px) {
  .header-title-intro-section-text {
    color: white;
    font-size: 2.25rem;
    line-height: 4rem;
  }
  .header-title-text {
    font-size: 1.875rem;
  }
  .undertitle-text {
    font-size: 1.5rem;
  }
  .base-text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 1150px) {
  .header-title-intro-section-text {
    color: white;
    font-size: 1.875rem;
    line-height: normal;
  }
  .header-title-text {
    font-size: 1.5rem;
  }
  .undertitle-text {
    font-size: 1.25rem;
  }
  .base-text {
    font-size: 1rem;
  }
}
